@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.material-symbols-outlined {
  font-variation-settings:
      'FILL' 1,
      'wght' 400,
      'GRAD' 0,
      'opsz' 48
}

/* scollbar width */
::-webkit-scrollbar {
  width: 10px;
}

/* scollbar - Track */
::-webkit-scrollbar-track {
  background: #343E66;
}

/* scollbar - Handle */
::-webkit-scrollbar-thumb {
  background: #67A8E9;
  border-radius: 5px;
}

/* scollbar - Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #548dc7
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: ui-sans-serif,system-ui,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

html,
body,
#root {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-items: center;
  align-items: center;
  overflow-x: hidden;
}
.disabled{
  @apply bg-opacity-30 pointer-events-none border border-gray-600;
}
.disabled button{
  @apply bg-opacity-30 pointer-events-none;
}
.btn{
  @apply relative flex items-center justify-center px-4 py-2 outline-none rounded-lg transition-all duration-300;
}
.btn-primary{
  @apply btn bg-purple-700 text-white ;
}
.btn-secondary{
  @apply btn bg-[#0C5172] text-white transition duration-300 hover:bg-[#115889] shadow-lg shadow-[#0C5172]/50;
}
.btn-primary:hover{
  @apply bg-white text-purple-700;
}
.btn.loading::after{
  @apply absolute right-5 content-[''] size-[20px] border-[3px] border-t-transparent rounded-full animate-spin;
}
.btn.loading{
  @apply disabled pr-14;
}


@keyframes slideIn {
  from {
    transform: translateY(1000px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-in {
  animation: slideIn 0.2s forwards;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px); /* Start 20px above its final position */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* End at its original position */
  }
}

/* Apply the animation to an element */
.fade-in-down {
  animation: fadeInDown 0.3s ease-in-out; /* Adjust duration and timing function as needed */
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px); /* Start 20px below its final position */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* End at its original position */
  }
}

/* Apply the animation to an element */
.fade-in-up {
  animation: fadeInUp 0.5s ease-in-out; /* Adjust duration and timing function as needed */
}